/*****ELEMENTS******/
a {
  text-decoration: none;
}

/*****CONTAINERS******/
.App-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*should stay fixed on the left side always*/
.Navbar-container {
  width: 70px;
  /* height: 100%; */
  background: #cdcdcd3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
}

/*expands to fill right side of app*/
.Mother-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

/***LOWER LEVEL CLASSES****/
.Navbar {
  display: flex;
  flex-flow: column wrap;
}

.Link {
  /*icon and text alignments*/
  color: rgba(88, 88, 88, 0.806);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-top: 5px;
}

.Link-text {
  margin-top: 0;
  font-size: small;
}

.Link:hover {
  color: rgb(22, 22, 22);
}

.ActiveLink {
  color: rgb(22, 22, 22);
}

.Header {
  flex: 1;
  background: #292069;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;
}

.Main {
  flex: 9;
}

.Footer {
  flex: 1;
  background: rgb(26, 26, 28);
}
